## BLM442 Keşif aktivitesi-3: SQLite üzerinde veri analizi

#### İsim/Soyisim: Murat Altınay
#### Öğrenci Numarası:170202109
#### E-mail:170202109@kocaeli.edu.tr
#### Kullanılan dataset adı:NBA Salary and Statistics 2016-17
#### Dataset url:https://www.kaggle.com/rikdifos/nba-salary-and-statistics-201617

In [1]:
import sqlite3
conn = sqlite3.connect("C:/Users/immur/Desktop/murat.db")
cur = conn.cursor()

#### İntihal: 
Netten alınacak kısmi kod parçaları önceden kod içinde/raporda belirtilmek ve soru sorulduğunda cevaplanması durumunda sıkıntı çıkarmayacaktır. (i) Internet kaynağını belirtmeyen/açıklayamayan/üzerinde geliştirme yapmayan veya (ii) birbirleriyle benzer/aynı çalışma teslim edenlerin aktiviteleri sıfır üzerinden değerlendirilecektir.

#### KA-3 Gönderim şekli

1-pdf olarak "ogrenciNo.pdf" dokumanını gonderme
-calisma dosyasında (File -> Print Preview) sonrası olusan html dosyasını yazdır deyip pdf olarak kaydetme veya
-(File -> Download as -> HTML) seklinde indirip pdf'e cevirme http://html2pdf.com/

2-(File -> Download as -> Notebook) indirip "ogrenciNo.ipynb" dokumanını gonderme

suleyman.eken@kocaeli.edu.tr

Keşif aktivitesi 1 için kullanmış oldugunuz dataset üzerinde 15 problem bulunup çözümleri çıktıları ile beraber sunulacaktır.

https://docs.google.com/spreadsheets/d/1bt345SO14dGbCMz4mtP1fYwPENu36v-gVhfhOcQHMbA/edit?usp=sharing

Problemlerinizin SELECT, WHERE, ORDER BY, SELECT TOP, LIKE, IN, BETWEEN, AS, INTERSECT, GROUP BY, HAVING, COUNT(), MIN() and MAX(), AVG(), SUM(), INNER JOIN, RIGHT (OUTER) JOIN, LEFT (OUTER) JOIN vs. keyword'lerinden birkaçını içermesini sağlayınız.

#### Problem 1:2016-17 Sezonunda en yüksek maaş alan oyuncu maaşı ve oyuncu adı nedir?

In [2]:
cur.execute("select Player,max(season17_18) from NBA_season1718_salary;")
results = cur.fetchall()
print(results)

[('Stephen Curry', 34682550.0)]

#### Problem 2:NBA takımlarının oyuncularına verdiği ortalama maaşlar nelerdir?

In [3]:
cur.execute("select Tm,avg(season17_18) from NBA_season1718_salary group by Tm;")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

ATL 3711770.2592592593
BOS 6765291.882352941
BRK 5335542.888888889
CHI 3726043.4166666665
CHO 8373440.285714285
CLE 9806324.92857143
DAL 3900970.9545454546
DEN 6743068.6875
DET 6004305.25
GSW 8593427.8125
HOU 5410185.5
IND 4969989.0
LAC 5945358.15
LAL 4788884.090909091
MEM 5505203.05
MIA 7290145.777777778
MIL 5485741.7272727275
MIN 7341784.625
NOP 5701217.666666667
NYK 5135971.666666667
OKC 8952937.066666666
ORL 5701526.705882353
PHI 5039713.9
PHO 4515158.714285715
POR 6268890.736842105
SAC 4781376.4
SAS 6832562.0
TOR 6854635.05882353
UTA 5373250.7
WAS 6898880.111111111

#### Problem 3: En düşük maaş alan ilk 10 oyuncu adı ve maaşı nedir?

In [4]:
cur.execute("select Player,season17_18 from NBA_season1718_salary order by season17_18 limit 10;")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

Jarell Eddie 17224.0
Joel Bolomboy 22248.0
Axel Toupane 25000.0
Quinn Cook 25000.0
Chris Johnson 25000.0
Beno Udrih 25000.0
DeAndre Liggins 26773.0
Nigel Hayes 46080.0
Nigel Hayes 46080.0
Rodney Purvis 46080.0

#### Problem 4: GSW takımındaki oyuncu adları ve aldıkları maaşlar?

In [5]:
cur.execute("select * from NBA_season1718_salary where Tm in('CLE');")
results = cur.fetchall()
for mm in results:
    print(mm[2],mm[1],mm[3])

CLE LeBron James 33285709.0
CLE Kevin Love 22642350.0
CLE George Hill 20000000.0
CLE Tristan Thompson 16400000.0
CLE J.R. Smith 13760000.0
CLE Jordan Clarkson 11562500.0
CLE Kyle Korver 7000000.0
CLE Cedi Osman 2642857.0
CLE Rodney Hood 2386864.0
CLE Jose Calderon 2328652.0
CLE Jeff Green 2116955.0
CLE Ante Zizic 1645200.0
CLE Larry Nance 1471382.0
CLE Marcus Thornton 46080.0

#### Problem 5: En yüksek maaş alan ilk 10 oyuncu sıralaması  en çok maaştan en aza doğru sırası?

In [6]:
cur.execute("select * from NBA_season1718_salary order by season17_18 desc limit 10;")
results = cur.fetchall()
for mm in results:
    print(mm[2],mm[1],mm[3])

GSW Stephen Curry 34682550.0
CLE LeBron James 33285709.0
DEN Paul Millsap 31269231.0
BOS Gordon Hayward 29727900.0
DET Blake Griffin 29512900.0
TOR Kyle Lowry 28703704.0
OKC Russell Westbrook 28530608.0
MEM Mike Conley 28530608.0
HOU James Harden 28299399.0
TOR DeMar DeRozan 27739975.0

#### Problem 6: Takımların kaçar adet oyuncusu vardır? küçükten büyüğe sıralayınız .

In [7]:
cur.execute("select Tm,count(Player) as count_player from NBA_season1718_salary group by Tm order by count_player ;")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

CHO 14
CLE 14
OKC 15
DEN 16
GSW 16
MIN 16
BOS 17
ORL 17
SAS 17
TOR 17
BRK 18
MIA 18
WAS 18
IND 19
POR 19
DET 20
LAC 20
MEM 20
PHI 20
SAC 20
UTA 20
NOP 21
NYK 21
PHO 21
DAL 22
HOU 22
LAL 22
MIL 22
CHI 24
ATL 27

#### Problem 7: 15 milyon dolar ve 25 milyon dolar arasında maaş alan oyuncular?

In [8]:
cur.execute("select Player from NBA_season1718_salary where season17_18 between 15000000 and 25000000 ;")
results = cur.fetchall()
for mm in results:
    print(mm[0])

Kevin Durant
Otto Porter
Chris Paul
C.J. McCollum
Bradley Beal
Anthony Davis
Andre Drummond
Hassan Whiteside
Dwight Howard
Chandler Parsons
Harrison Barnes
J.J. Redick
Marc Gasol
Kevin Love
Brook Lopez
DeAndre Jordan
Steven Adams
Giannis Antetokounmpo
Nicolas Batum
Rudy Gobert
LaMarcus Aldridge
Victor Oladipo
Enes Kanter
Danilo Gallinari
Serge Ibaka
George Hill
Ryan Anderson
Paul George
Allen Crabbe
Jimmy Butler
Jeff Teague
Kawhi Leonard
Kyrie Irving
John Wall
DeMarcus Cousins
Greg Monroe
Wesley Matthews
Klay Thompson
Joakim Noah
Kentavious Caldwell-Pope
Luol Deng
Evan Turner
Goran Dragic
Evan Fournier
Bismack Biyombo
Kent Bazemore
Robert Covington
Ian Mahinmi
Tim Hardaway
Draymond Green
Tristan Thompson
Reggie Jackson
Pau Gasol
Tobias Harris
Dwyane Wade
Dennis Schroder
Jonas Valanciunas
Tony Parker
Timofey Mozgov

#### Problem 8: Oyuncu sayısı 20 adetten fazla olan takımlar hangileridir?

In [9]:
cur.execute("select Tm,count(Player) as q1 from NBA_season1718_salary group by Tm having q1>20 order by q1;")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

NOP 21
NYK 21
PHO 21
DAL 22
HOU 22
LAL 22
MIL 22
CHI 24
ATL 27

#### Problem 9: On yıldan uzun süredir NBA takımlarında forma giyen oyuncular kimlerdir ve forma giydikleri toplam yıl sayıları kaçtır?

In [10]:
cur.execute("""select NBA_season1718_salary.Player,count(distinct Seasons_Stats.Year) as q1 from Seasons_Stats 
inner join NBA_season1718_salary on Seasons_Stats.Player = NBA_season1718_salary.Player 
group by Seasons_Stats.Player having q1>10 order by q1 ;""")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

Channing Frye 11
J.J. Barea 11
J.J. Redick 11
Kyle Lowry 11
LaMarcus Aldridge 11
Larry Drew 11
Paul Millsap 11
Rajon Rondo 11
Rudy Gay 11
Thabo Sefolosha 11
Amir Johnson 12
Andrew Bogut 12
C.J. Miles 12
Chris Paul 12
Deron Williams 12
Jarrett Jack 12
Jose Calderon 12
Josh Smith 12
Kevin Martin 12
Lou Williams 12
Marvin Williams 12
Mike James 12
Monta Ellis 12
Raymond Felton 12
Ronnie Price 12
Shaun Livingston 12
Al Jefferson 13
Anderson Varejao 13
Andre Iguodala 13
Beno Udrih 13
Chris Bosh 13
Devin Harris 13
Dwight Howard 13
J.R. Smith 13
Jameer Nelson 13
Luol Deng 13
Nick Collison 13
Tony Allen 13
Trevor Ariza 13
Carmelo Anthony 14
Caron Butler 14
David West 14
Dwyane Wade 14
Glenn Robinson 14
Kyle Korver 14
LeBron James 14
Leandro Barbosa 14
Matt Barnes 14
Udonis Haslem 14
Zaza Pachulia 14
Larry Nance 15
Manu Ginobili 15
Nene Hilario 15
Joe Johnson 16
Pau Gasol 16
Richard Jefferson 16
Tony Parker 16
Tyson Chandler 16
Zach Randolph 16
Jamal Crawford 17
Tim Hardaway 17
Jason Terry 18
Dirk Nowitzki 19
Paul Pierce 19
Tim Duncan 19
Vince Carter 19
Gerald Henderson 21
Mike Dunleavy 26

#### Problem 10: 2005-2016 yılları arasında attıkları takımların  taplam sayı nedir?sıralayınız.

In [11]:
cur.execute("select Tm ,sum(PTS)  from Seasons_Stats where Year between 2005 and 2016 group by Tm order by sum(PTS) desc;")
results = cur.fetchall()
for mm in results:
    print(str(mm[0]),mm[1])

TOT 263458.0
PHO 102221.0
GSW 102051.0
DEN 101006.0
LAL 98355.0
DAL 98125.0
SAC 97949.0
HOU 97467.0
SAS 97275.0
TOR 96827.0
LAC 95988.0
NYK 95833.0
WAS 95675.0
UTA 95639.0
BOS 95516.0
MIA 95396.0
CLE 95295.0
ORL 95192.0
IND 95169.0
MIN 95027.0
ATL 95016.0
POR 94751.0
CHI 94584.0
MIL 94423.0
MEM 94104.0
PHI 93608.0
DET 93344.0
CHA 76058.0
OKC 66608.0
NJN 60530.0
NOH 53013.0
SEA 32653.0
BRK 32150.0
NOP 24747.0
CHO 16200.0
NOK 15444.0

#### Problem 11:Soyadının son harfi  'n' olan oyuncuların 2010-2015 yılları arasında attıkları ortalama sayı kaçtır?

In [12]:
cur.execute("select avg(PTS) from Seasons_Stats where Year between 2010 and 2015 and Player like '%n' ;")
results = cur.fetchall()
for mm in results:
    print(mm[0])

430.34166666666664

#### Problem 12: Oyuncuların yıllar içinde bir sezonda yapabildikleri maximum asist sayısı kaçtır ?ilk 20 oyuncuyu sıralayınız.

In [13]:
cur.execute("""select NBA_season1718_salary.Player,max(Seasons_Stats.AST) from NBA_season1718_salary 
inner join Seasons_Stats on NBA_season1718_salary.Player = Seasons_Stats.Player
group by Seasons_Stats.Player order by Seasons_Stats.AST desc limit 20;""")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

Chris Paul 925.0
James Harden 906.0
Deron Williams 862.0
Russell Westbrook 840.0
Rajon Rondo 839.0
John Wall 831.0
Tim Hardaway 807.0
Ricky Rubio 704.0
Jose Calderon 678.0
Stephen Curry 666.0
LeBron James 651.0
Jeff Teague 639.0
Raymond Felton 625.0
Jrue Holiday 625.0
Derrick Rose 623.0
Larry Drew 610.0
Brandon Jennings 609.0
Jason Terry 600.0
Draymond Green 598.0
Dwyane Wade 589.0

#### Problem 13:Oyuncuların yıllar içinde bir sezonda denedikleri maximum sayı denemeleri top 10 sıralaması nasıldır?

In [14]:
cur.execute("""select NBA_season1718_salary.Player,max(Seasons_Stats.FGA) from NBA_season1718_salary 
left join Seasons_Stats on NBA_season1718_salary.Player = Seasons_Stats.Player
group by Seasons_Stats.Player order by Seasons_Stats.FGA desc limit 10 ;""")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

Russell Westbrook 1941.0
LeBron James 1823.0
Dwyane Wade 1739.0
Vince Carter 1696.0
Kevin Durant 1688.0
Carmelo Anthony 1643.0
James Harden 1617.0
Dirk Nowitzki 1616.0
Monta Ellis 1611.0
Stephen Curry 1598.0

#### Problem 14: Bu yıl Los Angeles Takımında oynayan oyuncuların 2015 yılında takımlarında(farklı da olabilir) attıkları toplam sayı kaçtır?

In [15]:
cur.execute("""select NBA_season1718_salary.Tm,sum(Seasons_Stats.PTS) from NBA_season1718_salary 
inner join Seasons_Stats on NBA_season1718_salary.Player = Seasons_Stats.Player
where Seasons_Stats.Year = 2015 and NBA_season1718_salary.Tm = 'LAL' group by Seasons_Stats.Year;""")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1])

LAL 9375.0

#### Problem 15: 2012 yılında en çok sayı atan oyuncunun 2016-17 sezonunda aldığı maaş ve oynadığı takım?

In [16]:
cur.execute("""select NBA_season1718_salary.Tm,NBA_season1718_salary.Player,
max(NBA_season1718_salary.season17_18),
max(Seasons_Stats.PTS) from NBA_season1718_salary 
left join Seasons_Stats on NBA_season1718_salary.Player = Seasons_Stats.Player
where Seasons_Stats.Year = 2012 group by Seasons_Stats.Year   ;""")
results = cur.fetchall()
for mm in results:
    print(mm[0],mm[1],mm[2],mm[3])

GSW Kevin Durant 34682550.0 1850.0